*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: "PlayfairDisplay", sans-serif;
}
/*HEADER: BEGIN*/
.header{
	height: 130px;
	padding-top: 70px;
}
.container{
	max-width: 1063px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
/*HEADER -> NAV: BEGIN*/
.nav-wrap{
	width: 577px;
}
.nav-inner{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.nav__headline{
	font-size: 1em;
}
.nav__headline__a{
	text-decoration: none;
	color: #666;
}
/*HEADER -> NAV: END*/
/*HEADER: END*/
/*MAIN CONTENT: BEGIN*/
.main-container{
	max-width: 900px;
	margin: 70px auto;
}
.main__headline{
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #CCC;
	font-size: 1em;
	font-family: "Ubuntu", sans-serif;
}
.main__caps{
	font-weight: normal;
	color: #666;
	font-size: 2.14em;
	margin-bottom: 40px;
}
.main__text{
	font-size: 1em;
	color: #666;
	line-height: 1.5em;
	margin-bottom: 75px;
}
.main__list{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main__post{
	width: 420px;
	margin-top: 100px;
}
.main__post__a{
	text-decoration: none;
}
.main__search{
	height: 285px;
	background-color: #CCC;
}
.main__search__headline{
	font-weight: normal;
	font-size: 2.14em;
	text-align: center;
	padding: 75px;
}
.main__search__form{
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.main__search__email{
	width: 400px;
	height: 35px;
	background-color: #CCC;
	border: none;
	border-bottom: 1px solid #000;
}
.main__search__form:after{
	content: '';
	position: absolute;
	width: 32px;
	height: 18px;
	transform: translateY(-27px);
	right: 0px;
	background-image: url(img/searchbutton.png);
}
.main__loadbutton__form{
	width: 160px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 auto;
}
.main__loadbutton{
	width: 160px;
	height: 60px;
	background-color: #FFF;
	border: 1px solid #666;
	font-size: 1.42em;
	color: #666;
	cursor: pointer;
}
/*MAIN CONTENT: END*/
/*FOOTER: BEGIN*/
.footer-wrap{
	width: 100%;
	height: 100px;
	background-color: #CCC;
}
.footer-container{
	width: 900px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer__leftblock{
	margin-top: 35px;
}
.footer__rightblock{
	margin-top: 35px;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.footer__unit{
	text-decoration: none;
	margin-right: 30px;
	color: #000;
	font-weight: normal;
	font-size: 1em;
}
/*FOOTER: END*/